<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html">
   
<!-- <div id="copyright"> -->
<!--    <p> -->
<!--      <br/>  -->
<!--      <b><a href="http://www.ccc.org.co/">Cámara de Comercio de Cali</a></b>  | Cll 8 # 3 - 14 | PBX: (57)2 8861300 FAX: (57)2 8861399 | Cali (Valle), Colombia<br/>  -->
<!--      Todos los derechos reservados 2012. -->
<!--      <br/>      -->
<!--    </p> -->
<!-- </div> -->
<div id="whitesep"></div>
</f:view>