<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://java.sun.com/jsf/html">
    <div id="top">
        <h:form>

            <h:panelGrid  columns="2" cellspacing="0" style="width:960px; text-align:center;">
                <h:panelGrid  style="text-align:center;float: left;">
                    <p:megaMenu style="background-color: transparent;width:900px;border:transparent">  
                        <p:submenu label="Categorias" icon="ui-icon-check">
                            <p:column>
                                <p:submenu >
                                    <p:menuitem value="Categorias" url="#{navigatorBean.showPage('1')}" />
                                </p:submenu>
                            </p:column>

                        </p:submenu>
                        <p:submenu label="Eventos" icon="ui-icon-check">
                            <p:column>
                                <p:submenu >
                                    <p:menuitem value="Eventos" url="#{navigatorBean.showPage('2')}" />
                                </p:submenu>
                            </p:column>

                        </p:submenu>

                        <p:menuitem value="Salir" icon="ui-icon-close"/>  
                    </p:megaMenu>	  	 
                </h:panelGrid>
                <!--                <h:panelGrid columns="2" cellpadding="0" cellspacing="3" style="text-align:center;float: right;">
                                    <h:outputText styleClass="topbar-text" value="Servicios en Línea" />
                                    <h:selectOneMenu id="selServicioWeb" styleClass="webservice-text" onchange="window.open(this.value,'_blank')">  
                                        <f:selectItem itemLabel="Seleccione un servicio" itemValue="#" noSelectionOption="true"/>			
                                    </h:selectOneMenu>
                                </h:panelGrid>-->
            </h:panelGrid>
        </h:form>    
    </div>
</f:view>